header{
  min-height: 80vh;
    background-image: url("image/moimeme.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 40px;
}

.page02 header {
    background-image: url("image/typo.jpg");
}

.page03 header {
    background-image: url("image/mandala.jpg");
}

.page04 header {
    background-image: url("image/identite.jpg");
}

h1{
  font-family: 'Poiret One', cursive;
  font-size: 4em;
  padding-top:20px;
  padding-bottom: 20px;
  color: #ffffff;
}

h2{
  font-family: 'Poiret One', cursive;
  font-size: 4em;
  padding-top:20px;
  padding-bottom: 20px;
  color: #000000;
  text-align: center;
}

h4{
  font-family: 'Poiret One', cursive;
  font-size: 2em;
  padding-top:20px;
  padding-bottom: 20px;
  color: #000000;
  text-align: center;
}

h3{
  font-family: 'Noto Serif', serif;
  padding-top:20px;
  padding-bottom: 20px;
  color: #000000;
  text-align: center;
  font-size: 2em;
}

body {
    background-color: #fff;
    font-family: 'EB Garamond', serif;;
    line-height: 1.5;
}

h6{
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  margin: auto;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 30px;
  margin-bottom: 30px;
}


p{
  font-family: 'Libre Baskerville', serif;
  text-align: justify;
  padding-top: 15px
}

#bio h1{
  text-align: center;
}

.bio-content-block {
  max-width: 960px;
  margin : 0 auto;
  display: flex;
  justify-content: space-around;
}

.bio-content-block p {
  max-width: 400px;
}

#comp h1{
  text-align: center;
}

.image-container img{
    width: 100%;
}


.comp-section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.comp-content {
    max-width: 280px;
    padding : 1em;
    flex-wrap: wrap;
}

.comp-section-content h2{
  text-align: center;
}

.portfolio-content{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.portfolio-content-item img{
  width: 280px;
  padding: 2em;
}

.illustration{
  text-align: center;
}

.illustration-item img{
  width: 180px;
  padding: 1em;
}

footer{
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5em;
  background-color: #ADADAD;
  padding: 3em;
}

.social-links li{
  display: inline;
  padding: 2em;
}
